/*
 * Contextmenu
 */

div.context {
	border: 1px solid lightgrey;
	width: 200px;
	border: black;
	background-color: white;
	position: absolute;
	min-height: 20px;
	padding: 0;
	z-index: 90;

	a {
		width: 190px;
		display: inline-block;
		height: 20px;
		background-color: white;
		padding: 5px;
	}

	a:hover {
		background-color: lightblue;
	}

}
