/*
* Info for places
*/

div.placeinfo {
	width: 200px;
	border: black;
	background-color: white;
	position: absolute;
	min-height: 20px;
	padding: 5px;
	z-index: 90;
}

div.placeinfo h1 {
	margin-top: -28px;
	margin-bottom: 0;
	width: 100%;
	text-align: center;
	font-size: 28px;
}

div.placeinfo h2 {
	font-size: 18px;
	margin-top: 0px;
	width: 100%;
	text-align: center;
}

div.placeinfo div.votes {
	float: right;
	width: 30px;
	margin-right: -20px;
	border: 1px solid lightgrey;
	background-color: white;
	height: 70px;
}

div.placeinfo div.votes a {
	font-size: 28px;
	width: 25px;
	height: 25px;
	display: block;
	padding-left: 5px;
}

div.placeinfo div.votes a:hover {
	color: lightblue;
}

div.placeinfo div.votes a.selected {
	color: blue;
}

div.placeinfo div.votes a:first-child {
	margin-bottom: 5px;
}


div.placeinfo img {
	transform: translate(-18px, -18px);
	width: 30px;
	height: 30px;
}
