/*
* Info for places
*/

div.placeinfo {
	width: 200px;
	border: black;
	background-color: white;
	position: absolute;
	min-height: 20px;
	padding: 5px;
	z-index: 90;

	h1 {
		margin-top: -28px;
		margin-bottom: 10;
		font-size: 20px;
	}

	h2 {
		font-size: 16px;
		margin-top: 0px;
	}
	div.wrapper {
		width: 22px;
		height: 85px;
		display: block;
		margin-right: -20px;
		float: right;
	}

	div.score, div.votes {
		border: 1px solid lightgrey;
		background-color: white;
		width: 22px;
	}

	div.score {
		margin-bottom: 5px;
		height: 22px;
		text-align: center;
		font-size: 18px;
	}

	div.votes {
		height: 56px;
		a {
			font-size: 20px;
			width: 22px;
			height: 22px;
			display: block;
			padding-left: 3px;
		}

		a:hover {
			color: lightblue;
		}

		a:first-child {
			margin-bottom: 5px;
		}

		a.selected {
			color: blue;
		}
	}

	img {
		transform: translate(-18px, -18px);
		width: 30px;
		height: 30px;
	}
}
